@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    flex-wrap: wrap;
}


.nav__links a,
.button {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    color: white;
    text-decoration: none;
}

.nav__links {
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin:0
}


.nav__links li {
    padding: 0px 20px;
}


.nav__links li a:hover {
    color: rgb(244, 191, 92);
}

.button {
    padding: 9px 25px;
    background-color: #D2078B;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    
}


.login {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    color: white;
    text-decoration: none;
    list-style: none;
    margin: 0 2rem;
    transition: all 0.3s ease 0s;

}

.login:hover {
    color: rgb(244, 191, 92);

}



.right_part {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 1;
}



@keyframes bump {
    0% {
        transform: scale(1);
    }

    10% {
        transform: scale(0.9);
    }

    30% {
        transform: scale(1.1);
    }

    50% {
        transform: scale(1.15);
    }

    100% {
        transform: scale(1);
    }
}


#menu-icon{
    display: none;
}



@media screen and (max-width:1092px){
    #menu-icon{
        display: inline-block;
        cursor: pointer;
    }

    .nav__links{
        display: none;
    }
}