@import url('https://fonts.googleapis.com/css2?family=Comforter+Brush&display=swap');

#follow-us{
    font-size:2rem;
    font-family: 'Comforter Brush', cursive;
}

.fab{
    color: antiquewhite;
}

