@import url('https://fonts.googleapis.com/css2?family=Prompt&display=swap');

#food-bar {
    border-radius: 30px;
    box-shadow: 0px 4px 11px -1px rgb(132, 214, 255, 0.35)
}

#wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 250px;
    /*I made the height:230px to keep the height constant for all as after making the image to 100% the height gets random */
}

#wrapper img {
    border-radius: 30px 0 0 30px;
    height: 100%;
    width: 230px;
}

#food-name {
    font-family: 'Prompt', sans-serif;
}

#badge {
    position: absolute;
    right: 29px;
    top: 15px;
    width: 50px;
    border-radius: 17px
}

#add-cart-button {
    position: absolute;
    right: 90px;
    top: 15px;
    background-color: #D2078B;
    border-radius: 17px;
    cursor: pointer;
}

@media screen and (max-width:995px) {

    #wrapper {

        height: 270px;
        /*I made the height:230px to keep the height constant for all as after making the image to 100% the height gets random */
    }
    #wrapper img {
        height: 100%;
        width: 248px
    }
}



#toast {
    position: fixed;
    top: 100px;
    z-index: 2;
    right: 10px;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: rgb(244, 191, 92);
}

@media screen and (max-width:913px) {
    #wrapper {
        flex-wrap: wrap;
        height: 100%;
    }

    #wrapper img {
        border-radius: 30px 30px 0 0px;
        height: 200px;
        width: 100%
    }
}

#price {
    color: rgb(244, 191, 92);
}