@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');

.form-group {
    padding: 5px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #173331;
    border-radius: 30px;
    box-shadow: 0px 4px 11px -1px rgb(132, 214, 255, 0.35)
}


.form-group input {
    width: 80%;
    height: 3rem;
    outline: none;
    border: none;
    background-color: #173331
}

#btn {
    display: flex;
    justify-content: center
}

#register {
    font-family: 'Libre Baskerville', serif;
    color: rgb(244, 191, 92);
}

.colouring {
    color: rgb(244, 191, 92);
}


#login-button{
    background-color: #D2078B; 
    border: none
}